{% extends "base.html" %} {% block title %}{{ article.title|striptags }}{% endblock %} {% block content %} {% if DISQUS_SITENAME
%}

<span {% block top_background%}{% if article.photoid %}style="background-image: url('{{ SITEURL }}/{{ article.url }}/{{ article.photoid }}');no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; box-shadow: inset 0px 0px 0px 100vh rgba(0, 0, 0, 0.6);"
    {%endif %}{% endblock top_background %}></span>

<div class="comments">
    <div>
        <div style="margin: 14px 0;"><a href="{{ SITEURL }}/{{ article.url | go_parent }}"><i class="fa fa-chevron-right color-chevron-right"></i> رجوع</a></div>
        <h1 class="text-center">{{ article.title }}</h1>
        <hr>
    </div>
    <div class="col-xs-12">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ SITEURL }}/{{ article.url }}/{{ article.photoid }}" alt="{{ article.title }}">
        </div>
        <table class="table">
            <tbody>
                {% if article.address %}
                <tr>
                    <td style="border-top: none;"><b>العنوان</b></td>
                    <td style="text-align: center; border-top: none; direction: ltr;"><a href="http://maps.google.com/?q={{ article.address }}">{{ article.address }}</a></td>
                </tr>
                {% endif %} {% if article.telephone %}
                <tr>
                    <td><b>رقم الهاتف</b></td>
                    <td style="text-align: center;  direction: ltr;"><a href="tel:+1{{ article.telephone }}">{{ article.telephone }}</a></td>
                </tr>
                {% endif %} {% if article.content %}
                <tr>
                    <td><b>نبذة</b></td>
                    <td style="text-align: right;">{{ article.content }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <h2>التعليقات</h2>
    <div id="disqus_thread"></div>
    {% block head_script %}
    <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        var disqus_identifier = '{{ article.url }}';
        var disqus_url = '{{ SITEURL }}/{{ article.url }}';
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the comments.</noscript>
    {% endblock head_script %}
</div>
{% endif %} {% endblock content %}